@use 'variables' as variant;
@use 'rates';
@use 'thanks';

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-size: 15px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Overpass", sans-serif;
}

body{
    background-color: variant.$Grey-950;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

main{
    margin: 0 auto;
    background-image: radial-gradient(circle at top, #232A34, #181E27);
    border-radius: 1rem;
    width: 90%;
    max-width: 412px;
    min-height: 360px;
    max-height: 416px;
    padding: 24px;
}