---
import Hero from './Hero.astro';
import Ingredients from './Ingredients.astro';
import Instructions from './Instructions.astro';
import Preparation from './Preparation.astro';
import Nutrition from './Nutrition.astro';
---

<div class="p-10">
    <Hero/>
    <Preparation/>
    <Ingredients/>
    <Instructions/>
    <Nutrition/>
</div>