---
import { Image } from "astro:assets"
import footerLogo from '../assets/logo.svg'

---

<footer>
    <Image src={footerLogo} alt="Fylo Logo" />

    <section>
        <article>

        </article>

        <article>

        </article>

        <article>

        </article>
    </section>
</footer>
