@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
.footer-content {
  margin-top: -28px;
  background-image: linear-gradient(rgba(77, 151, 169, 0.9058823529), rgba(77, 151, 169, 0.9058823529)), url(../assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: inherit;
  text-align: center;
  padding: 64px 32px;
}
.footer-content .footer-title {
  color: #FAFAFA;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 24px;
  line-height: 110%;
}
.footer-content .footer-text {
  color: #FAFAFA;
  font-weight: 600;
  line-height: 150%;
  font-size: 1.2rem;
  margin-bottom: 24px;
}

@media (min-width: 650px) {
  .footer-content {
    background-image: linear-gradient(rgba(77, 151, 169, 0.9058823529), rgba(77, 151, 169, 0.9058823529)), url(../assets/tablet/image-footer.jpg);
    padding: 64px 150px;
  }
}
@media (min-width: 1000px) {
  .footer-content {
    background-image: linear-gradient(rgba(77, 151, 169, 0.9058823529), rgba(77, 151, 169, 0.9058823529)), url(../assets/desktop/image-footer.jpg);
    padding: 112px 130px;
    display: flex;
    align-items: center;
    gap: 80px;
  }
  .footer-title {
    width: 35%;
    text-align: left;
  }
  .footer-text {
    text-align: left;
    width: 30%;
  }
}
.button-violet-footer {
  background-color: #855FB1;
  font-size: 1.4rem;
  font-weight: 800;
  color: #FAFAFA;
  border: none;
  padding: 20px 60px;
  border-radius: 40px;
}
.button-violet-footer strong {
  color: #B18BDD;
  font-weight: 800;
}
.button-violet-footer:hover {
  background-color: #D9B8FF;
  transition: 0.5s ease-in-out;
}
.button-violet-footer:not(:hover) {
  background-color: #855FB1;
  transition: 0.3s ease-in;
}

.button-violet {
  background-color: #855FB1;
  font-size: 1.4rem;
  font-weight: 800;
  color: #FAFAFA;
  border: none;
  padding: 20px 60px;
  border-radius: 40px;
}
.button-violet strong {
  color: #D9B8FF;
  font-weight: 800;
}
.button-violet:hover {
  background-color: #D9B8FF;
  transition: 0.5s ease-in-out;
}
.button-violet:not(:hover) {
  background-color: #855FB1;
  transition: 0.3s ease-in;
}

.hero-button {
  background-color: #4D96A9;
  font-size: 1.4rem;
  font-weight: 800;
  color: #FAFAFA;
  border: none;
  padding: 20px 60px;
  border-radius: 40px;
}
.hero-button strong {
  color: #71C0D4;
  font-weight: 800;
}
.hero-button:hover {
  background-color: #8FE3F9;
  transition: 0.5s ease-in-out;
}
.hero-button:not(:hover) {
  background-color: #4D96A9;
  transition: 0.3s ease-in;
}

.section-transition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  height: 84px;
  width: 1px;
  background-color: #87879D;
}

.circle {
  width: 70px;
  height: 70px;
  border: 1px solid #87879D;
  color: #87879D;
  border-radius: 50px;
  text-align: center;
  padding-top: 21px;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #FAFAFA;
}

main {
  padding: 64px 32px;
}

.images {
  margin-top: 64px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "a b" "c d";
}
.images .image-1 {
  grid-area: a;
}
.images .image-2 {
  grid-area: b;
}
.images .image-3 {
  grid-area: c;
}
.images .image-4 {
  grid-area: d;
}
.images img {
  width: 100%;
  border-radius: 8px;
}

.main-content {
  margin-top: 64px;
  text-align: center;
}
.main-content h1 {
  font-size: 0.95rem;
  margin-bottom: 16px;
  color: #4D96A9;
  letter-spacing: 4px;
  font-weight: 800;
}
.main-content h2 {
  font-size: 2.3rem;
  font-weight: 800;
  color: #28283D;
  margin-bottom: 32px;
}
.main-content p {
  color: #87879D;
  line-height: 150%;
  font-size: 1.1rem;
  font-weight: 500;
}

@media (min-width: 650px) {
  .images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "a b c d";
  }
  .main-content {
    padding-left: 130px;
    padding-right: 130px;
  }
  .main-content h1 {
    font-size: 1.2rem;
  }
  .main-content h2 {
    font-size: 2.8rem;
  }
  .main-content p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1000px) {
  .main-content {
    padding-left: 450px;
    padding-right: 450px;
  }
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "logo logo" "imagen1 imagen2" "contenido contenido";
}
header .logo {
  grid-area: logo;
  width: 118px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
header .image-hero-1 {
  grid-area: imagen1;
  width: 110%;
  position: inherit;
  position: relative;
  left: -14%;
}
header .image-hero-2 {
  grid-area: imagen2;
  width: 110%;
  position: relative;
  right: -6%;
}

.hero-content {
  grid-area: contenido;
  text-align: center;
  padding: 32px;
}
.hero-content h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #28283D;
  margin-bottom: 32px;
}
.hero-content p {
  color: #87879D;
  line-height: 150%;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 24px;
}
.hero-content .hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (min-width: 650px) {
  .hero-content {
    padding-left: 190px;
    padding-right: 190px;
    margin-top: 72px;
  }
  .hero-content h1 {
    font-size: 4.8rem;
  }
  .hero-content p {
    font-size: 1.2rem;
  }
  .hero-content .hero-buttons {
    justify-content: center;
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  header {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: ". logo ." "imagen1 contenido imagen2";
  }
  .logo {
    margin-bottom: 48px;
  }
  .hero-content {
    padding: 0px 100px;
    margin: 0;
  }
  .hero-content h1 {
    font-size: 4rem;
  }
  .hero-content p {
    font-size: 1.2rem;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
